body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2e8dc;
    color: #333;
}

.header {
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #9f6f4f;
    font-size: 48px;
    font-weight: 800;
}

.about {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #e8d4c6;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border: 5px solid #8b5c45;
    border-radius: 10px;
    margin-right: 30px;
}

.description h2 {
    font-size: 36px;
    font-weight: 600;
}

.description p {
    margin-top: 10px;
}

.pengalaman {
    background-color: #b89680;
    padding: 40px;
    text-align: center;
}

.pengalaman h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

.fotopengalaman {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.foto-frame {
    border: 200px solid #Fffff;
    border-radius: 10px;
    padding: 40px;
}

.foto-frame img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

/* Projects Section */
.projects {
    background-color: #a78b76;
    padding: 40px;
    font-size: 36px;
    color: white;
    text-align: center;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.photo-frame {
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.photo-frame img {
    width: 200px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
}

.photo-lanscape img {
    width: 450px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
}

.tools {
    background-color: #ab7c5d;
    padding: 40px;
    text-align: center;
}

.contact {
    padding: 40px;
    background-color: #8b5c45;
    color: white;
    text-align: left;
}
